.sec-1{
    height: 100vh;
    color: #7ea577;
    
}
.sec-1 h1{
    font-family: cursive;
    color: #7ea577;
    margin-bottom: 50px;
    margin-top: 30px;
}
.sec-1 h2{
    font-family: sans-serif;
    margin-bottom: 105px;
}
header{
    background-color: #d2ffb3;
}
.dec{
    text-decoration: underline;
}
.sec-1{
    overflow: hidden;
}
.topimg{
    height: 100px;
}
.bottomimg{
    height: 300px;
}
main{
    height: 100vh;
}
.me img{
    height: 200px;
    border-radius: 50%;
}
.me h2{
    font-family: sans-serif;
    color: #b2d998;
    font-size: 50px;
}
.me p{
    font-family: serif;
    font-size: 20px;
}
.me{
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    /* margin-top: 30vh; */
    justify-content: center;
}
.sk{
    text-align: center;
    font-family: sans-serif;
    font-size:50px ;
    color: #b2d998;
}


.skills img{
    height: 16rem;
    width: 19rem;
    border-radius: 10px;
}
.two h4{
    font-family: sans-serif;
    color: #b2d998;
    font-size: 30px;
}
.two p{
    font-family: serif;
    font-size: 20px;
}
.four h4{
    font-family: sans-serif;
    color: #b2d998;
    font-size: 30px;
}
.four p{
    font-family: serif;
    font-size: 20px;
}
@media (max-width:812px) {
    .skills{
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: 1fr 1fr;
    }
}
.contact{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact h2{
    font-family: sans-serif;
    font-size:50px ;
    color: #b2d998; 

}
.contact p{
    font-family: serif;
    font-size: 20px;
}
.contact span{
    text-decoration: underline;
}
.p1{
    margin-bottom: 50px;
    color: #b2d998;
    font-family: sans-serif;
}
.bot{
    margin-top: 30px;
}
footer{
    /* height: 20vh; */
    background-color: #A5DD9B;
}